/* ------------------------- */
/* ----- Global Styles ----- */
/* ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body { 
    margin: 0; background: #111;
    font-family: 'Tektur', sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

/* -------------------------- */
/* ----- Gallery Styles ----- */
/* -------------------------- */

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 2rem;
    padding: 3rem;
}

#gallery img {
    width: 100%;
    object-fit: cover;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    #gallery {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }
}

/* ------------------------- */
/* ----- Button Styles ----- */
/* ------------------------- */

.floating {
    position: -webkit-fixed;
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.floating button {
    border: none;
    border-radius: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .floating {
        bottom: 20px;
        right: 20px;
    }

    .floating button {
        width: 64px;
    }

    .floating button img {
        width: 32px;
        height: 32px;
    }
}

/* ------------------------ */
/* ----- Modal Styles ----- */
/* ------------------------ */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #2d2d2d;
    box-shadow: #000 0px 5px 15px;
    color: white;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
    width: 40vw;
}

.modal-content label {
    margin-top: .5rem;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    font-size: 1.3rem;
    font-family: Arial;
    color: #333;
    background: white;
    border: none;
    border-radius: 8px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}  